<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>Home Page</h1>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint eaque
      obcaecati modi alias. Odio dolores illo, dolore doloremque, eius mollitia
      cum facilis illum modi possimus officiis tempore adipisci at vitae?
    </p>
  </body>
</html>
