<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= param %></title>
  </head>
  <body>
    <h1>Browsing <%= param %></h1>
  </body>
</html>
