<h1>"<%= param %>"</h1>

<% if (filteredUsers.length > 0) { %>
<ul>
  <% filteredUsers.forEach(function(user) { %>
  <li><strong>Name:</strong> <%= user.name %> <%= user.surname %><br /></li>
  <% }); %>
</ul>
<% } else { %>
<p>No users</p>
<% } %>
